VITE_LEMMA_API_URL=https://api.asur.work
VITE_LEMMA_AUTH_URL=https://auth.asur.work
VITE_LEMMA_POD_ID=019daa7d-ad11-7039-a95f-5443203c7083
VITE_LINEAR_COPY_POD_ID=019daa7d-ad11-7039-a95f-5443203c7083
VITE_LEMMA_ASSISTANT_NAME=linear-pm
VITE_LEMMA_WORKFLOW_NAME=cycle-planning
VITE_LEMMA_AGENT_NAME=delivery-researcher
